/* HEADER */
.page header {
  position: relative;
  background: url(../images/background-cover-octogone.jpg) center no-repeat;
  background-size: cover;
  height: 55vh;
  width: 100%;
}

.page header img {
  width: 500px;
  position: absolute;
  z-index: 2;
  bottom: -50px;
  left: -webkit-calc(50% - 250px);
  left: -moz-calc(50% - 250px);
  left: calc(50% - 250px);
}

.page header .fading {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  background: rgb(22, 23, 32);
  background: linear-gradient(
    0deg,
    rgba(22, 23, 32, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.homeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 12vh 0 0 0;
  overflow: hidden;
}

.homeBody .buttonPlay {
  position: relative;
  z-index: 4;
  color: var(--dark);
  font-size: 24px;
  background-color: var(--light);
  padding: 10px 20px;
  margin: 10px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  cursor: pointer;
  transition: all 750ms;
}

.homeBody .buttonPlay:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(230, 230, 230, 0.75);
}

.homeBody .cardDisplay {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: -20px auto 0;
}

.homeBody .cardDisplay img {
  margin: 0 -30px -50px -30px;
  height: 300px;
}

#Jeanjass {
  transform: rotate(15deg);
}

#Squeezie {
  transform: rotate(-2deg);
}
#Maes {
  transform: rotate(-15deg);
}

/* BARRE DE NAVIGATION*/
.navBar {
  position: fixed;
  height: 50px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navBar button {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  margin: 0px 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 750ms;
}

.navBar button:hover {
  background-color: var(--light);
  color: var(--dark);
  transform: scale(1.1);
}

/* MENU BURGER */
.Burger {
  display: none;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.Burger .bar {
  width: 30px;
  height: 4px;
  background-color: #ecf6fa;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.xcross #first-bar {
  transform: rotate(225deg) translate(-8px, -5px);
}

.xcross #second-bar {
  transform: scale(0.5) rotate(270deg);
  background-color: transparent;
  box-shadow: none;
}

.xcross #third-bar {
  transform: rotate(135deg) translate(-8px, 5px);
}
.navBar .ul-mobile {
  display: none;
}

/* version mobile */
@media screen and (max-width: 600px) {
  .Burger {
    display: inline-block;
    z-index: 6;
  }

  .navBar button {
    margin: 15px;
    background-color: transparent;
  }

  .navBar {
    position: relative;
    margin: 0;
    height: 90px;
  }

  .navBar .desktop {
    display: none;
  }

  .navBar .active {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 100px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
    font-size: 20px;
  }

  .page header {
    height: 55vh;
  }

  .page header img {
    width: 250px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
    left: -webkit-calc(50% - 125px);
    left: -moz-calc(50% - 125px);
    left: calc(50% - 125px);
  }
}
