.RappersCard {
  width: 280px;
  height: 450px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  margin: 15px;
  box-shadow: 2px 3px 15px -2px #fcfcfc;
}
.topPart {
  display: flex;
  flex-direction: row;
  height: 50px;
  text-align: center;
}
.nomGroup {
  color: white;
  display: flex;
  justify-content: center;
  bottom: 20px;
  position: relative;
  z-index: 10;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -1px 2px 0 #000;
  font-size: 12px;
}
.nameRap {
  color: white;
  font-size: 24px;
  /* -webkit-text-stroke: black 2px; */
  text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000,
    4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 4px 0 #000;
}
.bottomPart {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statsPart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  height: 35px;
}
.DefAtk {
  display: flex;
  flex-direction: row;
}
.atk,
.def,
.micro {
  width: 55px;
  height: 55px;
  z-index: 10;
  position: relative;
  bottom: 27px;
}
.micro {
  right: -5px;
}
.atk,
.def {
  left: -5px;
}
.imgRap {
  height: 315px;
  background-color: wheat;
  z-index: 0;
  position: relative;
  object-fit: cover;
}
.logoGroup {
  width: 70px;
  height: 70px;
  z-index: 10;
  position: relative;
}
.fondLogo {
  background-color: black;
  width: 120px;
  height: 90px;
  border-radius: 50%;
  z-index: 10;
  position: relative;
  border: gray solid 10px;
  display: flex;
  flex-direction: column;
}
.nomRap {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  z-index: 10;
}
.rarity {
  font-size: 40px;
  color: white;
  text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000,
    4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 4px 0 #000;
}
.stat {
  display: flex;
  flex-direction: column;
  position: relative;
}
.Chiffre {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
  bottom: 55px;
  left: 10px;
  font-size: 27px;
  text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000,
    4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 4px 0 #000;
}
.rappeurs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.rappersList {
  background-color: var(--dark);
  min-height: 100vh;
}
.rappeursTitre {
  color: var(--light);
  text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000,
    4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 4px 0 #000;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  padding: 15px;
}
.rapperHeader {
  flex-direction: row;
  width: 100%;
  padding: 3%;
  justify-content: space-around;
}
.ORFlogo {
  width: 15%;
}
.vide {
  width: 20%;
}
.searchBar {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2%;
}
.searchText {
  width: 25%;
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  border: none;
  background-color: var(--light);
}
.rechercheBnt {
  width: 10%;
  height: 40px;
  border-radius: 30px;
  margin: 15px;
  font-size: 17px;
  border: none;
  background-color: var(--light);
}
